<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link th:href="@{https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{fonts/icomoon/style.css}">

  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{fonts/flaticon/font/flaticon.css}">
  <link rel="stylesheet" th:href="@{css/magnific-popup.css}">
  <link rel="stylesheet" th:href="@{css/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{css/aos.css}">
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
<div th:insert="header"> </div>



<div class="site-wrap">



  <div class="site-blocks-cover overlay" style="background-image: url('images/hero_bg_2.jpg');">
<!--    <img th:src="@{/images/about.jpg}" alt="" class="radius-image img-fluid">-->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto align-self-center">
          <div class="site-block-cover-content text-center">
            <h1 class="mb-0">About <strong class="text-primary">Gateway Pharmacy</strong></h1>
            <div class="row justify-content-center mb-5">
              <div class="col-lg-6 text-center">
                <p>
                  Gateway Pharmacy Limited a 100% subsidiary of  Healthcare is one of the 1st
                  branded retail Pharmaceutical Chains in Sri Lanka that has entered the market with a view of creating a
                  difference in the retail pharmaceutical trade. Headed by a team of professionals, Gateway Pharmacy has introduced an
                  innovative concept centered on superior customer care, latest technology in data management, a wide product assortment,
                  affordable prices and a host of value additions.
                </p>
              </div>
            </div>
            <p><a a href="#" th:href="@{/allproducts}"class="btn btn-primary px-5 py-3">Our Products</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section py-5" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="text-black h4">Why Us</h3>
          <p> Headed by a team of professionals, Gateway Pharmacy has introduced an
            innovative concept centered on superior customer care, latest technology in data management, a wide product assortment,
            affordable prices and a host of value additions.

          </p>

        </div>
        <div class="col-lg-4">
          <h3 class="text-black h4">History</h3>
          <p>
            Gateway Pharmacy Limited a 100% subsidiary of  Healthcare is one of the 1st
            branded retail Pharmaceutical Chains in Sri Lanka that has entered the market with a view of creating a
            difference in the retail pharmaceutical trade.
          </p>

        </div>
        <div class="col-lg-4">
          <h3 class="text-black h4">Service</h3>
          <p>We provide 24 hours service and our products are the best quality products with affordable prices. We provide free home delivery
            and you can pay after the delivery.
          </p>

        </div>
      </div>
    </div>
  </div>



  <div class="site-section bg-image overlay" style="background-image: url('images/hero_bg_2.jpg');">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-7">
          <h3 class="text-white"> Discount up to 35% OFF</h3>
          <p class="text-white"> You will get discount up to 35% in every Monday and Sunday for any product from BOC credit card
            .</p>
        </div>
      </div>
    </div>
  </div>




</div>

<div th:insert="footer"> </div>
<script th:src="@{js/jquery-3.3.1.min.js}"></script>
<script th:src="@{js/jquery-ui.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/owl.carousel.min.js}"></script>
<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{js/aos.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>