<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Order Success</title>
</head>
<body>
<div th:insert="header"> </div>
<div class="site-wrap">

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="icon-check_circle display-3 text-primary"></span>
                    <h2 class="display-3 text-black">Thank you!</h2>
                    <p class="lead mb-5">You order was successfully completed.</p>

                    <p class="lead mb-5"> Our delivery department will contact you soon via the contact number you have given
                        and you can pay after the delivery.</p>
                    <p><a href="#" th:href="@{/allproducts}" class="btn btn-md height-auto px-4 py-3 btn-primary">View All Products</a></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<div th:insert="footer"> </div>
</html>