<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Product List</title>
</head>
<body>
<div th:insert="header"> </div>
<div class="site-wrap">




    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <br>
                    <div  align="center">
                        <h1>Products</h1>

                        <br>
                        <a href="#" th:href="@{/new}" class="btn btn-primary btn-md btn-block"> Add New Product</a>
                        <br> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!--    <form th:action="@{/viewproducts}">-->
<!--        Search: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />-->
<!--        &nbsp;-->
<!--        <input type="submit" value="Search" />-->
<!--        &nbsp;-->
<!--        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />-->
<!--    </form>-->

    <script type="text/javascript">
        function clearSearch() {
            window.location = "[[@{/viewproducts}]]";
        }
    </script>


    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <h3 class="mb-3 h6 text-uppercase text-black d-block">Search Products</h3>
                    <div class="col-md-21">
                        <form th:action="@{/viewproducts}">
                            <input type="text" class="form-control" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
                            <br>
                            <input type="submit" value="Search" class="btn btn-primary btn-md" />

                            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" class="btn btn-primary btn-md"/>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div align="center"><h3>Product List </h3> <div> <br>
                <div class="row mb-5">

                    <form class="col-md-12" method="post">
                        <div class="site-blocks-table">
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th class="product-id">Product ID</th>
                                    <th class="product-name">Name</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-madein">Made-In</th>
                                    <th class="product-price">Price (Rs)</th>
                                    <th class="product-action">Actions</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="product : ${listProducts}">
                                    <td th:text="${product.id}">Product ID</td>
                                    <td th:text="${product.name}">Name</td></td>
                                    <td th:text="${product.quantity}">Quantity</td>
                                    <td th:text="${product.madein}">Made in</td>
                                    <td th:text="${product.price}">Price</td>

                                    <td><a href="#" th:href="@{'/edit/' + ${product.id}} "class="btn btn-primary height-auto btn-sm">Edit</a>
                                        <a href="#" th:href="@{'/delete/' + ${product.id}}"class="btn btn-primary height-auto btn-sm">Delete</a>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>


            </div>
            </div>
            <br/>
            <a href="#" th:href="@{/vieworders}"class="btn btn-primary btn-md btn-block"> View All Orders</a>
        </div>

    </div>
    </div> </div>
<div th:insert="footer"> </div>
</body>
</html>