<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Add New Product</title>
</head>
<body>
<div th:insert="header"> </div>

<div align="center">
  <h1>Add New Product</h1>
  <br />
  <form action="#" th:action="@{/save}" th:object="${product}"
        method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>Product Name:</td>
        <td><input type="text" th:field="*{name}" /></td>
      </tr>
      <tr>
        <td>Quantity:</td>
        <td><input type="text" th:field="*{quantity}" /></td>
      </tr>
      <tr>
        <td>Made In:</td>
        <td><input type="text" th:field="*{madein}" /></td>
      </tr>
      <tr>
        <td>Price:</td>
        <td><input type="number" th:field="*{price}" /></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button> </td>
      </tr>
    </table>
  </form>
</div>
<div th:insert="footer"> </div>
</body>
</html>