<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Staff Login </title>
  <script type = "text/javascript">
    function login() {

      var username = document.getElementById("username").value;
      var password = document.getElementById("password").value;

      if(username === "admin" && password === "admin123" )
      {
        alert( "Login Succeeded" );



      }
      else
      {
        alert( "Login failed" );
        return false;
      }
    }
  </script>
</head>
<body>
<div th:insert="header"> </div>

<div align="center" class="site-wrap">
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
  <div class="col-lg-5 col-sm-10 mt-lg-9 mt-md-6 mt-7" >
    <h1 class="h1 mb-5 text-black">Staff Login</h1>
    <!--
        <form action="#" th:action="@{/Login_Service}"method="post" id="loginForm" >
        -->
    <form action="#" th:action="@{/Login_Service}"name="loginForm" id="myForm" method="post" onsubmit ="return(login());" >
      <div class="form-style-w3ls">


        <input placeholder="User Name" type="text" name="username"  id="username" class="form-control"><br>
        <input  placeholder="Password" type="password" name="password"  id="password" class="form-control"><br>

        <input type="submit" value="Login" class="btn btn-primary btn-md">

      </div>
    </form>
  </div>

  </div>
</div>
<div th:insert="footer"> </div>
</body>
</html>